{% extends 'template.html' %}
{% set title = 'Competitions' %}
{% block main %}
<div id="app">
    <form @submit.prevent="onSubmit">
        <div class="row g-3 align-items-center mb-3 mt-1">
            <div class="col">
                <span v-if="loading" class="text-danger">Loading...</span>
                <span v-if="!loading && err" class="text-danger">Error while fetching competitions: [[ err ]]</span>
                <span v-if="!loading && !err" class="text-success">
                    [[ data.matches ]] competitions found - current page [[ data.page_num ]]/[[ data.last_page ]]
                </span>
            </div>
            {% if scraped_formats | length > 1 %}
            <div class="col-auto">
                Current format: {{ formats[format] }}
            </div>
            <div class="col-auto">
                <a class="btn btn-primary" href="/formats?redirect_to=competitions">Change format</a>
            </div>
            {% endif %}
            <div class="col-auto">
                <button class="btn btn-dark" @click="prevPage()" :disabled="current_page <= 1"
                        v-if="!loading && !err">Prev</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-dark" @click="nextPage()" :disabled="current_page >= data.last_page"
                        v-if="!loading && !err">Next</button>
            </div>
        </div>
    </form>

    <div v-if="!loading && !err" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
        <div v-for="i in data.sample" class="col p-1">
            <div class="card">
                <a :href="'/competitions/' + i.competition.competition_id">
                    <img class="art-img-top card-img-top" :src="'/cards/art/' + i.main_card" :alt="i.background_card" />
                    <h4>[[ i.competition.name ]]</h4>
                </a>
                <aside class="text-muted">[[ i.format ]], [[ i.date_str ]], [[ i.deck_count ]] decks</aside>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" v-if="!err" @click="backToTop">Back to top</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-dark" @click="prevPage()" :disabled="current_page <= 1"
                    v-if="!loading && !err">Prev</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-dark" @click="nextPage()" :disabled="current_page >= data.last_page"
                    v-if="!loading && !err">Next</button>
        </div>
    </div>
</div>

<script>
const app = {
    data() {
        return {
            loading: 2,
            err: false,
            data: { last_page: 0 },
            current_page: 1,
            format: '{{ format }}'
        }
    },
    methods: {
        prevPage() {
            if (this.current_page <= 1) return
            this.current_page--
            this.load()
        },
        nextPage() {
            if (this.current_page >= this.data.last_page) return
            this.current_page++
            this.load()
        },
        load() {
            throttleSearch(async () => {
                this.searched = true
                const res = await axios.get(`/api/competitions/all/${this.current_page}?format=${this.format}`)
                if (res.status !== 200)
                    this.err = res.statusText
                else {
                    if (res.data.err)
                        this.err = res.data.err
                    else {
                        this.err = false
                        this.data = res.data
                    }
                }
            }, this, 'loading', 'err', 'loading_timer', 25000)()
        }
    },
    created() {
        this.load()
    }
}

vue = Vue.createApp(app)
vue.config.compilerOptions.delimiters = ['[[', ']]']
vue.mount('#app')
</script>
{% endblock %}
