{% extends 'template.html' %}
{% set title = deck.deck.name + ' by ' + deck.author.nickname %}
{% block main %}
    <div class="row m-2 align-items-center">
        <div class="col text-center">
            <h1><a href="/decks/{{ deck.deck.deck_id }}">{{ deck.deck.name }}</a></h1>
            <h5>
                {% if deck.tags %}
                <i><a href="/tags/{{ deck.tags[0].tag_id }}">{{ deck.tags[0].name }}</a></i>
                {% else %}
                A
                {% endif %}
                deck
                by <a href="/users/{{ deck.author.user_id }}">{{ deck.author.nickname }}</a>
                {% if deck.competition %}
                , <a href="/competitions/{{ deck.competition.competition_id }}">{{ deck.competition.name }}</a>
                ({{ deck.date_str }}), {{ deck.deck.wins }}-{{ deck.deck.losses }}
                {% else %}
                ({{ deck.date_str }})
                {% endif %}
            </h5>
        </div>

        <div class="col-auto d-none d-md-flex">
            <img src="/imagery/colors-rotated/{{ deck.deck.deck_id }}" alt="Deck's colors" />
        </div>
        <div class="col-auto d-none d-md-flex">
            <img src="/imagery/curve/{{ deck.deck.deck_id }}/120" alt="Deck curve" />
        </div>
    </div>

    <div class="row">
        <div class="col-auto card-grid main-grid" style="height: {{ main_height * 43 + 267 }}px">
            {% for item in data[0] %}
                {% if item %}
                <a href="/cards/{{ item | clean }}" class="display-card-any display-card-{{ loop.index0 % columns + 3 }}"
                   style="grid-row: {{ 1 + loop.index0 // columns }}">
                    <img src="/cards/image/{{ item | clean }}" alt="{{ item }}" class="display-card" />
                </a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-auto card-grid land-grid" style="height: {{ land_height * 37 + 273 }}px">
            {% for item in data[1] %}
            <a href="/cards/{{ item | clean }}" class="display-card-any display-card-{{ loop.index0 % 2 }}"
                style="grid-row: {{ 1 + loop.index0 // 2 }}">
                <img src="/cards/image/{{ item | clean }}" alt="{{ item }}" class="display-card" />
            </a>
            {% endfor %}
        </div>

        <div class="col-auto card-grid side-grid">
            {% for item in data[2] %}
            <a href="/cards/{{ item | clean }}" class="display-card-any display-card-{{ loop.index0 % 2 }}">
                <img src="/cards/image/{{ item | clean }}" alt="{{ item }}" class="display-card" />
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
