.card-tooltip {
    position: relative;
    display: inline-block;
}

.card-tooltip span {
    position: relative;
    display: none;
}

.card-tooltip:hover span {
    display: block !important;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 1100;
}

.card-tooltip span img, .card-img-workspace {
    width: 300px;
}

.rotated {
    transform: rotate(90deg) scale(1.25);
}

/*
.card a .card-img-top {
    object-fit: cover;
    height: 230px;
}*/

.art-img-top {
    aspect-ratio: 4/3;
    object-fit: cover;
}

.col-1-10 {
    flex: 0 0 auto;
    width: 10%;
}

.width-8 {
    width: 12.5%;
    position: absolute;
}

.mv-0 { left: 0; }
.mv-1 { left: 12.5%; }
.mv-2 { left: 25%; }
.mv-3 { left: 37.5%; }
.mv-4 { left: 50%; }
.mv-5 { left: 62.5%; }
.mv-6 { left: 75%; }
.sb-1, .mv-NaN { left: 87.5%; }

.subdisplay {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
    text-shadow: -2px 0 #000,0 2px #000,2px 0 #000,0 -2px #000,-1px -1px #000,-1px 1px #000,1px 1px #000,1px -1px #000;
}


.display-card {
    width: 200px;
}

.display-card-0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.display-card-1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.display-card-2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.display-card-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}

.display-card-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
}

.display-card-5 {
    grid-column-start: 3;
    grid-column-end: 5;
    position: relative;
}

.display-card-6 {
    grid-column-start: 4;
    grid-column-end: 6;
    position: relative;
}

.card-grid {
    display: grid;
}

.side-grid {
    grid-auto-rows: 32px;
    grid-template-columns: 1fr 1fr 1fr;
}

.land-grid {
    grid-auto-rows: 37px;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 10px;
}

.main-grid {
    grid-auto-rows: 43px;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 10px;
}

.card-grid .display-card-any:hover {
    z-index: 5000;
}

.fake-color-bar {
    width: 150px;
    padding: 0;
    height: 27px;
}

.fake-color-bar div:not(.fcb-0) {
    height: 25px;
    display: inline-block;
    margin: 0;
    border: 1px solid #808080;
}

.fcb-0 {
    display: none;
}

.fcbc-0 { background-color: #ffff80; }
.fcbc-1 { background-color: #0000c8; }
.fcbc-2 { background-color: #0a0a0a; }
.fcbc-3 { background-color: #c80000; }
.fcbc-4 { background-color: #00c800; }
